<div class="form form-list-item">
    <div class="form-cover">
        <img src=" https://via.placeholder.com/1280x720/212121" alt="">
    </div>

    <div class="form-title-container">
        <h2 class="form-title">Lorem ipsum dolor sit amet.</h2>
    </div>

    <div class="form-author">
        <span class="form-author-item">
            <i class="fas fa-user"></i>
            Felipe Fernandes
        </span>
        <br>
        <span class="form-author-item">
            <i class="fas fa-calendar-alt"></i>
            16/10/2021 às 11:21
        </span>
    </div>

     <footer class="form-footer">
        <a class="form-read-more button button-dark button-full-width" href="">
            <i class="fas fa-eye"></i>
            <span>ver mais...</span>
        </a>
    </footer>
</div>