<style>
    .header-search{
        border-radius:30px;
        width:50%;
        height:1rem;
        background-color:#bbb;
        box-shadow: 0 3px 0px rgba(0,0,0,0.4);
        display:flex;
        align-items:center;
        justify-content:center;
        margin-top:10rem;
    }
    .search-box input:focus {
        outline: none;
    }
    .search-box {
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 30px;
        padding: 5px;
        width:fit-content;

    }
    
    .search-box input {
        border: none;
        background-color: transparent;
        flex: 1;
        margin-left: 10px;
        font-size: 19px;
        
    }
    .search-box button {
        border: none;
        background-color: #f2f2f2;
        color: #333;
        font-size: 16px;
        padding: 0px 20px;
        border-radius: 30px;
        cursor: pointer;
    }
    
    .search-box button:hover {
        background-color: #333;
        color: #fff;
        transition: all 250ms ease-in-out;
    }
    .header-search a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #444;
        cursor: pointer;
        border-radius: 30px;
        width: fit-content;
        height: fit-content;
        overflow: hidden;
        
        
    }
    .header-search a  :hover {
        color:#fff;
        background-color: #333;
        box-shadow: 0 5px 5px rgba(0,0,0,0.2);
        transition: all 250ms ease-in-out;
        
    }
    #edited{
        margin-left: 1px;
    }
    .search-box:focus-within{
        transition: all 250ms ease-in-out;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);
        background-color:rgb(300,300,300);

    }
    .header-search button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #444;
        cursor: pointer;
        border-radius: 30px;
        width: 40px;
        height: 40px;
        overflow: hidden;
        margin-left: 10px;
        font-size: 16px;
        padding: 10px 20px;
        background-color: #f2f2f2;
        color: #333;
        border: none;
    }
    .header-search button:hover {
        background-color: #333;
        color: #fff;
        transition: all 250ms ease-in-out;
        box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    }
    #emoji-add,#emoji-edit{
        width: 48px;
        height: 48px;
    }

</style>

<div class="container header-search">
    <div class="search-box">
        <input type="search" name="search" maxlength="50" size="30">
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    
    <button id="emoji-add" href="">
            <i class="fa-solid fa-plus"></i>
    </button>
    
    <button id="emoji-edit"href="">
            <i id="edited"class="fa-sharp fa-solid fa-file-pen"></i>
    </button>

</div>