
    body {
        font-family: sans-serif;
        margin: 0;
        padding: 0;
        background-color: rgb(223,223,223);
    }
    header {
        background-color: #f2f2f2;
        display: flex;
        align-items: center;
        height: 80px;
        padding: 0 40px;
        box-shadow: 0 0.1px 4px rgba(0,0,0,0.2);
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 999;
    }
    
    .logo {
        display: flex;
        align-items: center;
        font-size: 32px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }
    
    .logo:hover {
        color: #222;
    }
    
    .logo span {
        color: #5c5c5c;
    }
    
    .menu {
        display: flex;
        align-items: center;
        margin-left: auto;
    }
    
    .menu a {
        text-decoration: none;
        color: #333;
        margin-right: 30px;
        font-size: 18px;
        transition: all 0.2s ease-in-out;
    }
    
    .menu a:hover {
        color: #222;
    }
    
    
    
    @media screen and (max-width: 600px) {
        .logo {
            font-size: 24px;
        }
        
        .menu {
            display: none;
        }
        
    }
    .logo:hover,
    .logo:active {
     filter: brightness(80%);
}
.logo {
user-select: none;
}  
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    border-top: 1px solid #d3d3d3;
    height:10rem;
    bottom:0;
    margin-top:20rem;
  }
  
  .left {
    color: #555;
    margin-right: auto;
    margin-left: 1rem;
  }
  
  .right {
    color: #999;
    margin-left: auto;
    margin-right: 3rem;
  }
  
  @media screen and (max-width: 600px) {
    .left, .right {
      margin: 0;
      text-align: center;
    }
  }
a {
    color: rgb(10,20,38); 
    text-decoration: none; 
  }
    p {
        font-size: 1.2em;
        line-height: 1.5;
    }
    .container {
        margin: 0 auto;
        max-width: 144rem;
        padding: 3rem;
        
    }
    p {
        font-size: 1.2em;
        line-height: 1.5;
    }
    hr {
        height: 0.1px;
        width: 100vw;
        background-color:  rgb(223,223,223);
        border: none;
        box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
        margin: 10rem 0;
    }
    .header-search{
        border-radius:30px;
        width:50%;
        height:1rem;
        background-color:#bbb;
        box-shadow: 0 3px 0px rgba(0,0,0,0.4);
        display:flex;
        align-items:center;
        justify-content:center;
        margin-top:10rem;
    }
    .search-box input:focus {
        outline: none;
    }
    .search-box {
        display: flex;
        align-items: center;
        background-color: #fff;
        border-radius: 30px;
        padding: 5px;
        width:fit-content;

    }
    
    .search-box input {
        border: none;
        background-color: transparent;
        flex: 1;
        margin-left: 10px;
        font-size: 19px;
        
    }
    .search-box button {
        border: none;
        background-color: #f2f2f2;
        color: #333;
        font-size: 16px;
        padding: 0px 20px;
        border-radius: 30px;
        cursor: pointer;
    }
    
    .search-box button:hover {
        background-color: #333;
        color: #fff;
        transition: all 250ms ease-in-out;
    }
    .header-search a {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #444;
        cursor: pointer;
        border-radius: 30px;
        width: fit-content;
        height: fit-content;
        overflow: hidden;
        
        
    }
    .header-search a  :hover {
        color:#fff;
        background-color: #333;
        box-shadow: 0 5px 5px rgba(0,0,0,0.2);
        transition: all 250ms ease-in-out;
        
    }
    #edited{
        margin-left: 1px;
    }
    .search-box:focus-within{
        transition: all 250ms ease-in-out;
        box-shadow: 0 5px 5px rgba(0,0,0,0.1);
        background-color:rgb(300,300,300);

    }
    .header-search button {
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        color: #444;
        cursor: pointer;
        border-radius: 30px;
        width: 40px;
        height: 40px;
        overflow: hidden;
        margin-left: 10px;
        font-size: 16px;
        padding: 10px 20px;
        background-color: #f2f2f2;
        color: #333;
        border: none;
    }
    .header-search button:hover {
        background-color: #333;
        color: #fff;
        transition: all 250ms ease-in-out;
        box-shadow: 0 5px 5px rgba(0,0,0,0.2);
    }
    #emoji-add,#emoji-edit{
        width: 48px;
        height: 48px;
    }
    .main-content{
        margin: 5rem 5rem auto ;
        widht:90%;
        padding-top:0;
      

    }
    .main-content-list{
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(290px,1fr));
        gap:5rem;
        height:45rem;
        overflow-y: scroll;
        background-color: #fff;
        border-radius:10px;
        box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
    }
    .form-list-item{
        margin-top:2rem;
        max-width:35rem;
        height:fit-content;
        

    }
    .form img{
        max-width:100%;
        border-top-left-radius:10px;
        border-top-right-radius:10px;

    }
    .form{
        position:relative;
        background:#fff;
        border-top-left-radius:10px;
        border-top-right-radius:10px;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.3);
        transform: scale(1);
        transition:transform 250ms ease-in-out;
       
        
    }
    .form-list-item:hover{
        transform: scale(1.02);
        box-shadow: -10px 8px 18px rgba(0, 0, 0, 0.3);
        

    }
    .form-title-container{
        padding:0 2rem;
    }
    .form-author{
        padding:0 2rem;
    }
    .form-author-item{
        margin-right:1rem;
        color:#444;
    }
    .form-footer a {
        background: #333;
        width:100%;
        height:1rem;
        display: block;
        color: #fff;
        text-decoration: none;
        text-align: center;
        padding: 1.5rem 1.5rem;
        transition: all 300ms ease-in-out;
        margin:0;
        border-bottom-left-radius:10px;
        border-bottom-right-radius:10px;
    }

    .form-footer a:hover {
        filter: brightness(1.4);
    }
    .form-footer{

        margin:3.3rem auto 0;
        padding:0;
        height:1rem;

    }

